<mat-card>
    <mat-card-title>Grid List</mat-card-title>
    <mat-card-subtitle>gutterSize: khoảng cách giữa các grid-tile</mat-card-subtitle>
    <mat-card-content>
        <!-- 2:1 chiều ngang 2 chiều dọc 1 -->
        <mat-grid-list cols="2" rowHeight="5:1" style="height: 150px;" gutterSize="10px">
            <mat-grid-tile colspan="2">1</mat-grid-tile>
            <mat-grid-tile rowspan="2">2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
            <mat-grid-tile>5</mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>