<div  fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="5%" fxLayoutGap.xs="0%" fxLayoutGap.sm="0%">
    <div class="child-1" fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="45%" fxFlexAlign="center">child-1</div>
    <div class="child-2" fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="45%">child-2</div>
    <div class="child-3" fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="45%">child-3</div>
    <div class="child-4" fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="45%">child-4</div>
    <div class="child-5" fxFlex="15%" fxFlex.xs="100%" fxFlex.sm="45%">child-5</div>
</div>