<mat-card>
    <mat-card-title>Input</mat-card-title>
    <mat-card-subtitle>
        - floatLabel="always" để luôn hiển thị label - floatLabel="auto" để animation label
    </mat-card-subtitle>
    <mat-card-content>
        <div>
            <mat-form-field floatLabel="auto" hiddeRequiredMarker appearance="legacy">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name">
                <mat-hint align="end">> 5 characters</mat-hint>
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field floatLabel="auto" hiddeRequiredMarker appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name">
                <mat-hint align="end">> 5 characters</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field floatLabel="auto" hiddeRequiredMarker appearance="inline">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name">
                <mat-hint align="end">> 5 characters</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field floatLabel="auto" hiddeRequiredMarker appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name">
                <mat-hint align="end">> 5 characters</mat-hint>
            </mat-form-field>
        </div>

    </mat-card-content>
</mat-card>