<app-card>
  <div class="title">ngOnChanges - ngDoCheck</div>
  <div>
    <app-child [total]="total"></app-child>

    <mat-divider></mat-divider>

      <mat-form-field>
        <mat-label>Number a:</mat-label>
        <input type="number" matInput autocomplete="off" #a />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number b:</mat-label>
        <input type="number" matInput autocomplete="off" #b />
      </mat-form-field>

      <button mat-stroked-button (click)="handleNumber(a.value, b.value)">Submit</button>
  </div>
</app-card>
