<div style="padding: 30px;">
    <a routerLink="/">Home</a>
    <a routerLink="/fx-layout">fxLayout</a>
    <a routerLink="/fx-layout-gap">fxLayoutGap</a>
    <a routerLink="/fx-layout-align">fxLayoutAlign</a>
    <a routerLink="/fx-flex">fxFlex</a>
    <a routerLink="/fx-flex-order">fxFlexOrder</a>
    <a routerLink="/fx-flex-offset">fxFlexOffset</a>
    <a routerLink="/fx-flex-fill">fxFlexFill</a>
    <a routerLink="/fx-flex-align">fxFlexAlign</a>
</div>
    
<hr>

<router-outlet></router-outlet>