<div>
    <h1>fxFlexOrder</h1>
    <p>- fxFlexOrder Xác định thứ tự xuất hiện của các phần tử con bên trong</p>
</div>
<hr>
<div 
    fxLayout="row wrap"
>
    <div class="child-1" fxFlexOrder="1" fxFlexOrder.xs="5">Child-1</div>
    <div class="child-2" fxFlexOrder="2" fxFlexOrder.xs="4">Child-2</div>
    <div class="child-3" fxFlexOrder="3" fxFlexOrder.xs="3">Child-3</div>
    <div class="child-4" fxFlexOrder="4" fxFlexOrder.xs="2">Child-4</div>
    <div class="child-5" fxFlexOrder="5" fxFlexOrder.xs="1">Child-5</div>
</div>