<mat-card>
    <mat-card-title>List</mat-card-title>
    <mat-card-content>
        <mat-card-subtitle>mat-list</mat-card-subtitle>
        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-list-item>Item 2</mat-list-item>
            <mat-list-item>Item 3</mat-list-item>
            <mat-list-item>Item 4</mat-list-item>
        </mat-list>

        <mat-card-subtitle>mat-nav-list</mat-card-subtitle>
        <mat-nav-list>
            <a href="" mat-list-item>Home</a>
            <a href="" mat-list-item>About</a>
            <a href="" mat-list-item>Contact</a>
        </mat-nav-list>

        <mat-card-subtitle>Icon</mat-card-subtitle>
        <mat-list>
            <div mat-subheader>Folders</div>
            <mat-list-item *ngFor="let folder of folders">
              <mat-icon mat-list-icon>folder</mat-icon>
              <div mat-line>{{folder}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let folder of folders">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line>{{folder}}</div>
            </mat-list-item>
          </mat-list>


    </mat-card-content>
</mat-card>