<mat-toolbar>
    <a routerLink="/" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Button
      </button>
    </a>
    <a routerLink="/typeography" routerLinkActive="active">
        <button mat-button class="example-icon favorite-icon">
          Typeography
        </button>
    </a>
    <a routerLink="/button-toggle" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Button toggle
      </button>
    </a>
    <a routerLink="/icon" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Icon
      </button>
    </a>
    <a routerLink="/badges" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Badges
      </button>
    </a>
    <a routerLink="/progress-spinner" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Progress Spinner
      </button>
    </a>
    <a routerLink="/mat-slidenav" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Slide Nav
      </button>
    </a>
    <a routerLink="/drop-down" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Dropdown
      </button>
    </a>
    <a routerLink="/list" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        List
      </button>
    </a>
    <a routerLink="/grid-list" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Grid List
      </button>
    </a>
    <a routerLink="/expansion-panel" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Expansion panel
      </button>
    </a>
    <a routerLink="/card" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Card
      </button>
    </a>
    <a routerLink="/tab" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Tab
      </button>
    </a>
    <a routerLink="/stepper" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Stepper
      </button>
    </a>
    <a routerLink="/input" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Input
      </button>
    </a>
    <a routerLink="/select" routerLinkActive="active">
      <button mat-button class="example-icon favorite-icon">
        Select
      </button>
    </a>
</mat-toolbar>
<mat-toolbar>
  <a routerLink="/select" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      Select
    </button>
  </a>
  <a routerLink="/autocomplete" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      AutoComplete
    </button>
  </a>
  <a routerLink="/checkbox-radio" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      Checkbox & Radio
    </button>
  </a>
  <a routerLink="/data-picker" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      Date Picker
    </button>
  </a>
  <a routerLink="/tooltip" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      Tooltip
    </button>
  </a>
  <a routerLink="/snackbar" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      Snackbar
    </button>
  </a>
  <a routerLink="/dialog" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      Dialog
    </button>
  </a>
  <a routerLink="/scrolling" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      Scrolling
    </button>
  </a>
</mat-toolbar>

<mat-toolbar>
  <a routerLink="/data-table" routerLinkActive="active">
    <button mat-button class="example-icon favorite-icon">
      Data table
    </button>
  </a>
</mat-toolbar>