<mat-card>
	<mat-card-title>Typeograpyhy</mat-card-title>
	<mat-card-content>
		<div class="mat-display-4">Display 4</div>
		<div class="mat-display-3">Display 3</div>
		<div class="mat-display-2">Display 2</div>
		<div class="mat-display-1">Display 1</div>
		<hr>
		<div class="mat-h1">mat-h1</div>
		<div class="mat-h2">mat-h2</div>
		<div class="mat-h3">mat-h3</div>
		<div class="mat-h4">mat-h4</div>
		<hr>
		<div class="mat-body-1">mat-body-1</div>
		<div class="mat-body-2">mat-body-2</div>
		<hr>
		<div class="mat-small">mat-small</div>
		<div class="mat-caption">mat-caption</div>
	</mat-card-content>
</mat-card>
