<mat-card class="mat-elevation-z4">
    <mat-card-title>Card Component</mat-card-title>
    <mat-card-subtitle>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
        Voluptates quae quaerat commodi labore consectetur dolorem repellendus vero soluta quia error natus nesciunt,  <br>
        veniam nostrum sed, quas a voluptatibus aliquid totam. <br>
    </mat-card-content>
    <mat-card-actions align="right">
        <button mat-raised-button>Submit</button>
    </mat-card-actions>
</mat-card>