<mat-card>
    <mat-card-title>Select</mat-card-title>
    <mat-card-subtitle>
        - Sử dụng multiple để chọn nhiều option
    </mat-card-subtitle>
    <mat-card-content>

        <mat-form-field >
            <mat-label>Topic</mat-label>
            <mat-select [(value)]="selectedValue" multiple>
                <mat-option>None</mat-option>
                <mat-option value="option 1">option 1</mat-option>
                <mat-option value="option 2">option 2</mat-option>
                <mat-optgroup label="More Option">
                    <mat-option value="option 3">option 3</mat-option>
                    <mat-option value="option 4">option 4</mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>

        {{selectedValue}}

    </mat-card-content>
</mat-card>