<div>
    <h1>fxFlex</h1>
    <p>- fxFlex chỉ định thay đổi kích thước của phần tử con trong vùng chứa cha flexbox</p>
</div>
<hr>
<div 
    fxLayout="row wrap"
>
    <div class="child-1" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">Child-1</div>
    <div class="child-2" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">Child-2</div>
    <div class="child-3" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">Child-3</div>
    <div class="child-4" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">Child-4</div>
    <div class="child-5" fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="50%">Child-5</div>
</div>