<div class="container">
  <cdk-virtual-scroll-viewport itemSize="50" class="container-table-virtual">
    <table mat-table [dataSource]="dataSource">
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{ column.toUpperCase() }} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container [matColumnDef]="columnFilter" *ngFor="let columnFilter of displayedFilterColumns">
        <th mat-header-cell *matHeaderCellDef> 
          <mat-form-field>
            <mat-label>Clearable input</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedFilterColumns; sticky: true"></tr>
        <ng-container *cdkVirtualFor="let item of dataSource; let i = index">
            <tr mat-row *matRowDef="let row; columns: displayedColumns; when isRow"></tr>
        </ng-container>
    </table>
  </cdk-virtual-scroll-viewport>
</div>