<ul class="nav">
  <li class="nav-item" *ngFor="let item of navs">
    <a class="nav-link">
      <ng-container *ngIf="navLink; else noTemplate">
        <!-- cách 1 -->
        <!-- <ng-container
          [ngTemplateOutlet]="navLink"
          [ngTemplateOutletContext]="{ item: item }"
        ></ng-container> -->

        <!-- cách 2 -->
        <ng-container
          *ngTemplateOutlet="navLink; context: { $implicit: item }"
        ></ng-container>
      </ng-container>
      <ng-template #noTemplate> No Template </ng-template>
    </a>
  </li>
</ul>
