<div>
    <h1>fxLayout</h1>
    <p>- fxLayout là một chỉ thị được sử dụng để xác định bố cục của các phần tử HTML, tức là nó quyết định luồng của các phần tử con trong vùng chứa flexbox</p>
    <p>- Các giá trị được phép của fxLayout là: row, coumn, row-reverse, column-reverse.</p>
</div>
<hr>
<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="row">
    <div class="child-1">Child-1</div>
    <div class="child-2">Child-2</div>
    <div class="child-3">Child-3</div>
    <div class="child-4">Child-4</div>
    <div class="child-5">Child-5</div>
</div>