/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.demo, .fxLayoutGap, .fxLayoutAlign, .fxFlexOrder, .fxLayout{
    border-radius: 5px;
    padding: 25px;
}